# Dev and linting
pylint
astroid
isort
colorama
mccabe
platformdirs
tomlkit
typing_extensions

# Testing and coverage
pytest
pytest-cov
coverage
exceptiongroup
iniconfig
pluggy
tomli

# Utilities
packaging
Pygments
dill
